@*@{
        ViewData["Title"] = "Home Page";
    }*@

@*@{
       Layout = "_Layout";
    }*@
<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pelatihan Lanjutan C#</p>-->
@*<img src="~/image/IMG_2146.jpg" alt="Yusfa and Uchup" />*@
@*<a href="Mobil/Index">Lihat mobil</a>

    <a asp-controller="Mobil" asp-action="Index">Lihat Mobil</a>*@
<!--</div>-->

<a asp-controller="Admin" asp-action="Home">Admin Areas</a>
